absl-py==1.2.0
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.8.1
altair==4.2.0
anyio==3.6.1
apache-airflow==2.3.4
apache-airflow-providers-cncf-kubernetes==4.3.0
apache-airflow-providers-common-sql==1.1.0
apache-airflow-providers-ftp==3.1.0
apache-airflow-providers-http==4.0.0
apache-airflow-providers-imap==3.0.0
apache-airflow-providers-sqlite==3.2.0
apispec==3.3.2
appnope==0.1.2
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.2
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
binaryornot==0.4.4
biopython==1.79
bleach==4.1.0
blinker==1.5
Bottleneck==1.3.5
brotlipy==0.7.0
cachelib==0.9.0
cachetools==5.2.0
cattrs==22.1.0
certifi==2022.9.24
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.0.12
click==8.1.3
clickclick==20.10.2
cloudpickle==2.2.0
colorama==0.4.5
colorlog==4.8.0
commonmark==0.9.1
compiler==0.2.0
connexion==2.14.0
cookiecutter==2.1.1
cron-descriptor==1.2.31
croniter==1.3.5
cryptography==36.0.2
cycler==0.11.0
databricks-cli==0.17.3
datasets==2.6.1
deap==1.3.3
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
delta-spark==2.1.0
Deprecated==1.2.13
dill==0.3.5.1
dnspython==2.2.1
docker==6.0.0
docutils==0.19
email-validator==1.2.1
emoji==0.6.0
entrypoints==0.4
etils==0.7.1
exceptiongroup==1.0.0rc8
executing==0.8.3
fastapi==0.87.0
fastjsonschema==2.15.1
filelock==3.8.0
Flask==2.2.2
Flask-AppBuilder==4.1.3
Flask-Babel==2.0.0
Flask-Caching==2.0.1
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
flatbuffers==1.12
fonttools==4.25.0
frozenlist==1.3.1
fsspec==2022.7.1
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.10.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
graphviz==0.20.1
grpcio==1.42.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.6.0
htmlmin==0.1.12
httpcore==0.15.0
httpx==0.23.0
huggingface-hub==0.10.1
idna==3.3
ImageHash==4.3.0
importlib-metadata==4.12.0
importlib-resources==5.9.0
inflection==0.5.1
ipykernel==6.9.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jinja2-time==0.2.0
joblib==1.1.0
json5==0.9.6
jsonschema==4.13.0
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyter-server==1.18.1
jupyterlab==3.4.4
jupyterlab-pygments==0.1.2
jupyterlab-server==2.12.0
jupyterlab-widgets==1.0.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
kubernetes==23.6.0
lazy-object-proxy==1.7.1
libclang==14.0.6
linkify-it-py==2.0.0
llvmlite==0.38.0
lockfile==0.12.2
Mako==1.2.1
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
marshmallow==3.17.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.5.1
matplotlib-inline==0.1.2
mdit-py-plugins==0.3.0
mdurl==0.1.2
missingno==0.4.2
mistune==0.8.4
mlflow==1.29.0
mock==1.0.1
multidict==6.0.2
multimethod==1.4
multiprocess==0.70.13
munkres==1.1.4
nbclassic==0.3.5
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==2.8.6
notebook==6.4.12
numba==0.55.1
numexpr==2.8.3
numpy==1.22.4
oauthlib==3.2.0
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.3
pandas-profiling==3.3.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pendulum==2.1.2
pexpect==4.8.0
phik==0.11.2
pickleshare==0.7.5
Pillow==9.2.0
pip==22.2.2
pkgutil_resolve_name==1.3.10
plotly==5.10.0
pluggy==1.0.0
ply==3.11
praw==7.6.0
prawcore==2.3.0
prison==0.2.1
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.3
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.5
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.0
pydeck==0.8.0b3
pyDeepInsight==0.1.1
Pygments==2.13.0
PyJWT==2.4.0
Pympler==1.0.1
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyQt5-sip==12.11.0
pyrsistent==0.18.1
pysam==0.19.1
PySocks==1.7.1
pyspark==3.3.0
python-daemon==2.3.1
python-dateutil==2.8.2
python-multipart==0.0.5
python-nvd3==0.15.0
python-slugify==6.1.2
pytorch-gradcam==0.2.1
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.2.0
qtconsole==5.3.1
QtPy==2.0.1
querystring-parser==1.2.4
regex==2022.8.17
requests==2.28.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
responses==0.18.0
rfc3986==1.5.0
rich==12.5.1
rsa==4.9
RUST==0.1.1
scikit-learn==1.1.1
scipy==1.7.3
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
setproctitle==1.3.2
setuptools==61.2.0
shap==0.41.0
sip==6.6.2
six==1.16.0
slicer==0.0.7
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.1
SQLAlchemy==1.4.27
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.3
sqlparse==0.4.2
stack-data==0.2.0
starlette==0.21.0
statsmodels==0.13.2
stopit==1.1.2
streamlit==1.13.0
swagger-ui-bundle==0.0.9
sweetviz==2.1.4
tabulate==0.8.10
tangled-up-in-unicode==0.2.0
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-macos==2.9.2
tensorflow-metadata==1.9.0
tensorflow-metal==0.5.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.6.0
text-unidecode==1.3
threadpoolctl==2.2.0
tokenizers==0.12.1
toml==0.10.2
toolz==0.12.0
torch==1.12.1
tornado==6.1
TPOT==0.11.7
tqdm==4.64.1
traitlets==5.1.1
transformers==4.23.1
tweepy==4.10.0
typing_extensions==4.3.0
tzdata==2022.4
tzlocal==4.2
uc-micro-py==1.0.1
unicodecsv==0.14.1
update-checker==0.18.0
urllib3==1.26.11
uvicorn==0.19.0
validators==0.20.0
visions==0.7.5
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==2.2.2
wheel==0.37.1
widgetsnbextension==3.5.2
wordcloud==1.8.2.2
wrapt==1.14.1
WTForms==2.3.3
xgboost==1.6.2
xxhash==3.0.0
yarl==1.8.1
zipp==3.8.1
